/*Taylor Hillyer*/

.header{
    top: 5px;
    left: 5px;
    right: 5px;
    height: 35px;
    z-index: 2;
    border-bottom: solid black 1px;
}


.mainbody{
    top: 49px;
    right: 114px;
    left: 114px;
    bottom: 64px;
    padding-right: 5px;
}

.footer{
    right: 5px;
    left: 5px;
    bottom: 5px;
    height: 20px;
    text-align: center;
    position: fixed, absolute;
}

.tabcenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}